.row {
    width: 50%;
    display: flex
  }
  
  .wrapper {
    width: 100%;
  }
  
  @media (min-width: 768px) and (min-height: 918px), (min-width: 1280px) and (min-height: 714px) {
    .wrapper {
      position: absolute;
      bottom: 130px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  @media (min-width: 1480px) {
    .wrapper {
      max-width: 1480px;
      margin: 0 auto;
    }  
  }
  
  .main-body {
    font-family: Apple Chancery, cursive;
    animation: dropInAnimation .8s linear;
  }
  
  .main-body > h1{
    color: white;
    font-size: 4.5rem;
    line-height: 4.6875rem;
    padding-top: 1px;
    padding-bottom: 28px;
    font-weight: 800;
    margin: 0;
    animation: secondAnimation .8s linear;
  }
  
  .main-body > h5{
      font-size: .875rem;
      line-height: 1.25rem;
      text-transform: uppercase;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0;
      font-weight: 400;
      letter-spacing: .4em;
      color: #F2F3F5;
      animation: firstAnimation .6s linear;
  }
  
  h3 {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    padding-top: 1px;
    padding-bottom: 4px;
    margin: 0;
    color: white;
    font-weight: 500;
    animation: thirdAnimation 1s linear;
  }
  
  nav > h4 {
      font-size: 1.125rem;
      line-height: 1.5625rem;
      padding-top: 1px;
      padding-bottom: 4px;
      font-weight: 800;
      letter-spacing: normal;
      color: white;
      animation: fourthAnimation 1s linear;
  }

  @keyframes firstAnimation {
    0%, 66.667% {
      opacity: 0;
      transform: translate3d(0,20px,0);
    }
    100% {
    opacity: 1;
    transform: translate3d(0,0,0);
    }
  }
  
  @keyframes secondAnimation {
    0%, 75% {
      opacity: 0;
      transform: translate3d(0,20px,0);
    }
    100% {
    opacity: 1;
    transform: translate3d(0,0,0);
    }
  }
  
  @keyframes thirdAnimation {
    0%, 80% {
      opacity: 0;
      transform: translate3d(0,20px,0);
    }
    100% {
    opacity: 1;
    transform: translate3d(0,0,0);
    }
  }
  
  @keyframes fourthAnimation {
    0%, 90% {
      opacity: 0;
      transform: translate3d(0,20px,0);
    }
    100% {
    opacity: 1;
    transform: translate3d(0,0,0);
    }
  }
  